* {
  box-sizing: border-box;
}

ul,
li,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  padding: 50px;
}

#search-box {
  font: inherit;
  max-width: 320px;
  margin-bottom: 16px;
  padding: 15px 30px;
  border-radius: 5px;
  border: 1px solid darkgray;
}

.country-list {
  list-style: none;
}

.country-list-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.country-list-img {
  width: 40px;
  margin-right: 10px;
}

.country-info-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.country-info-img {
  width: 80px;
  margin-right: 10px;
}

.country-info-title {
  font-size: 50px;
}

.country-info-text {
  font-weight: 700;
  margin-bottom: 10px;
}

.country-info-subject {
  font-weight: 400;
}
